<div class="container mx-auto px-4 py-8">
  <div class="flex flex-col lg:flex-row gap-8 justify-center">
    <!-- Formulario de la izquierda -->
    <div class="lg:w-1/3" [formGroup]="form">
      <div class="bg-white p-6 rounded-lg shadow-md">
        <div class="space-y-4">
          <!-- ID y Nombre del formulario -->
          <div class="space-y-4">
            <div>
              <label for="IdForm" class="block mb-2 text-sm font-medium text-black-900 dark:text-black">ID</label>
              <input type="number" id="IdForm" readonly formControlName="id"
                class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500">
            </div>

            <div>
              <label for="nombreForm" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Nombre
                formulario</label>
              <input type="text" id="nombreForm" formControlName="nombreFormulario"
                class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500">
            </div>
          </div>

          <!-- Propiedades del formulario -->
          <fieldset class="mt-6 space-y-4">
            <legend class="text-lg font-semibold mb-4 dark:text-black">Propiedades para el formulario:</legend>

            <div class="space-y-4">
              <div>
                <label for="Ilabel" class="block mb-2 text-sm font-medium text-gray-900">Label</label>
                <input type="text" id="Ilabel" formControlName="label"
                  class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500">
              </div>

              <!-- <div>
                <label for="idNombre" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
                <input type="text" id="idNombre" formControlName="nombre"
                  class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500">
              </div> -->

              <div>
                <label for="tipoInput" class="block mb-2 text-sm font-medium text-gray-900">Tipo de entrada</label>
                <select id="tipoInput" formControlName="tipoInput"
                  class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500">
                  <option>input</option>
                  <option>select</option>
                </select>
              </div>

              <!-- Checkboxes -->
              <div class="space-y-2">
                <div class="flex items-center">
                  <input id="checkbox-1" type="checkbox" formControlName="requerido"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                  <label for="checkbox-1" class="ml-2 text-sm font-medium text-gray-900">Requerido</label>
                </div>
                <div class="flex items-center">
                  <input id="checkbox-2" type="checkbox" formControlName="soloLectura"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                  <label for="checkbox-2" class="ml-2 text-sm font-medium text-gray-900">Solo lectura</label>
                </div>
              </div>

              <div>
                <label for="PlaceholderForm" class="block mb-2 text-sm font-medium text-gray-900">PlaceHolder</label>
                <input type="text" id="PlaceholderForm" formControlName="placeHolder"
                  class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500">
              </div>

              <div>
                <label for="maxLength" class="block mb-2 text-sm font-medium text-gray-900">Máximo caracteres</label>
                <input type="number" min="0" id="maxLength" formControlName="maxLength"
                  class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500">
              </div>
            </div>

            <button type="button" (click)="agregarPropiedad()"
              class="w-full mt-6 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
              Agregar
            </button>
          </fieldset>
        </div>
      </div>
    </div>

    <!-- Preview del formulario -->
    <div class="lg:w-1/2">
      <div class="bg-white p-6 rounded-lg shadow-md">


        <div class="space-y-4">
          @for (item of listaPropiedades; track $index) {
          <div class="flex flex-row">
            @if (item.type != 'select' ) {
            <div class="w-10/12 flex flex-col">
              <label class="block mb-2 text-sm font-medium text-gray-900">{{item.label}}</label>
              <input type="text" placeholder="{{item.label}}"
                class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500">
            </div>

            }
            @if (item.type == 'select' ) {
            <div class="w-10/12 flex flex-col">
              <label class="block mb-2 text-sm font-medium text-gray-900">{{item.label}}</label>
              <select
                class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500">
                <option>Input</option>
                <option>Select</option>
              </select>
            </div>
            }
            <div class="w-2/12 flex justify-center items-center">
              <button type="button" (click)="eliminarElmento(item)"
                class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                Eliminar
              </button>
            </div>
          </div>

          }
        </div>
        <button type="button" (click)="guardarFormulario()"
          class="w-full mb-6 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-4">
          Guardar Formulario
        </button>
      </div>
    </div>
  </div>
</div>